.jumbotron{
	background-color: #fff;
}
 

 .caixa{
 	
 }

 .caixa:hover{
 	border: 0px solid gray;
 	border-radius: 10px;
 	background-color:#e0e0e0;
 }

 #lista{
 	margin-top: 20px;
 }

 .intro-header { 	
    background: center center no-repeat;
    background-image: url('../images/high.jpg');
    background-size: auto auto;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
    
}
.site-heading {
    padding: 150px 0;        
	color: #fff;
	
}

h1{
	font-size: 60px;
	box-sizing: border-box;
	font-weight: 800;
	text-align: center;
	color: #fff;
}
